* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: black;
  height: 10vh;
  color: white;
}
main {
  flex: 1;
}
footer {
  border-top: 1px solid black;
  height: 10vh;
}

.modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  height: 350px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn-white,
.btn-black {
  padding: 1rem 3rem;
  border: 2px solid black;
  border-radius: 5px;
}
.btn-white {
  background-color: none;
}
.btn-black {
  background-color: black;
  color: white;
}
